.page {
  width: 100%;
  padding: 50px 120px;
  min-height: 100vh;
  background: #0b1014;

  .content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    max-width: 915px;
    margin: 0 auto;

    button {
      width: 200px;
      margin: 0 auto;
      border: 1px solid #ff9b39;
      background: #ff9b39;
      color: #0b1014;
      padding: 5px 0;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background: #0b1014;
        color: #ff9b39;
      }
    }
  }
}
